.body {
  box-sizing: border-box;
  margin: 0 auto;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Ubuntu", sans-serif;
}

.header {
  display: flex;
  align-items: center;
  padding: 16px 79px;
  background-color: rgba(0, 0, 0, 0.4);
  color: #ffffff;
}

.logo {
  display: flex;
  flex-grow: 1;
  font-size: 22px;
  line-height: 22px;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: inherit;
}

.logo:hover {
  color: #3cb878;
  opacity: 0.5;
  transition: color 500ms, fill 500ms;
}

.icon-header {
  padding-right: 25px;
}

.icon-header:hover path {
  fill: #3cb878;
  opacity: 0.5;
  transition: fill 500ms;
}

.registration-panel {
  font-size: 14px;
  line-height: 14px;
}

.registration-panel::before {
  content: " ";
  background: rgba(255, 255, 255, 0.9);
  width: 1px;
  height: 19px;
  float: left;
  margin-right: 27px;
}

.registration-panel:hover {
  opacity: 0.5;
}

.login-header:hover {
  color: #3cb878;
  opacity: 0.5;
  transition: color 500ms;
}

.signup-header:hover {
  color: #3cb878;
  opacity: 0.5;
  transition: color 500ms;
}

.login-header,
.signup-header {
  padding-top: 25px;
  padding-bottom: 25px;
}

.content {
  display: flex;
  height: calc(100vh - 58px);
  margin: auto;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.forma {
  padding-top: 31px;
  padding-bottom: 38px;
  background: #ffffff;
  width: 444px;
}

.form-signup {
  display: flex;
  flex-direction: column;
}

.heading-signup {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  font-size: 20px;
  margin-bottom: 11px;
}

.heading-signup::before {
  margin-right: 43px;
  content: " ";
  background: #3cb878;
  width: 18px;
  height: 18px;
  float: left;
}

.heading-signup-second {
  position: relative;
  text-align: center;
  color: #848484;
  margin-left: 213px;
  margin-right: 35px;
  font-size: 14px;
}

.heading-signup-second::before {
  display: block;
  position: absolute;
  top: 50%;
  left: -156px;
  content: "";
  width: 152px;
  height: 1px;
  background-color: #f2f2f2;
}

.heading-signup-second::after {
  display: block;
  position: absolute;
  top: 50%;
  left: 21px;
  content: "";
  width: 152px;
  height: 1px;
  background-color: #f2f2f2;
}

.forma-login {
  margin-left: 213px;
  font-size: 14px;
  color: #3cb878;
}

input:focus {
  outline: none;
}

.forma-login:hover {
  color: #01813f;
  text-decoration: underline;
}

.btn-panel {
  display: flex;
  justify-content: space-between;
  padding-left: 60px;
  padding-right: 60px;
  margin-bottom: 31px;
}

.icon-line::after {
  content: " ";
  background: #0a162f;
  opacity: 0.1;
  width: 1px;
  height: 48px;
  float: right;
  margin-left: 7px;
}

.btn-facebook {
  display: flex;
  position: relative;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding-top: 1px;
  padding-bottom: 7px;
  padding-left: 0;
  padding-right: 25px;
  margin-right: 4px;
  margin-left: 60px;
  margin-top: 15px;
  margin-bottom: 31px;
  background: #305db8;

  flex-grow: 1;
}

.btn-facebook:hover {
  cursor: pointer;
  background: #022263;
  transition: background-color 500ms;
}

.btn-google {
  display: flex;
  position: relative;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-right: 60px;
  padding-bottom: 7px;
  padding-right: 22px;
  padding-top: 1px;
  margin-bottom: 31px;
  background: #df4a32;

  flex-grow: 1;
}

.btn-google:hover {
  cursor: pointer;
  background: #ab1f09;
  transition: background-color 500ms;
}

.field_signup {
  padding-left: 20px;
  padding-top: 14px;
  padding-bottom: 14px;
  margin-bottom: 15px;
  margin-left: 60px;
  margin-right: 60px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  font-family: "Ubuntu", sans-serif;
  background: #ffffff;
}

.field_signup:hover {
  cursor: pointer;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.21);
}

.btn-text {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  color: #ffffff;
  border-radius: 4px;
  border: 0px;
}

.btn-text-face {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  color: #ffffff;
  border-radius: 4px;
  border: 0px;
}

.btn {
  padding: 14px 106px;
  margin-left: 60px;
  margin-right: 60px;
  /* margin-bottom: 38px; */
  background: rgba(60, 184, 120, 0.8);
}

.btn:hover {
  cursor: pointer;
  background: #01813f;
  transition: background-color 500ms;
}

.checkbox-tc {
  width: 20px;
  height: 20px;
  margin: 0 8px 0 62px;
  padding-left: 5px;
  color: #3cb878;
  background-color: #ffffff;
}

.facebook {
  background: #305db8;
}
/*
.social-networks {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-bottom: 31px;
}
*/
.fab.fa-facebook-f {
  margin-top: 12px;
  margin-left: 6px;
  margin-right: 18px;
  font-size: 22px;
}

.fab.fa-google-plus-g {
  margin-top: 12px;
  margin-right: 32px;
  font-size: 22px;
}

.fab.fa-facebook-f::after {
  margin-left: 17px;
  content: " ";
  background: #0a162f;
  opacity: 0.1;
  width: 1px;
  height: 28px;
  float: right;
}

.fab.fa-google-plus-g::after {
  margin-left: 10px;
  content: " ";
  background: #0a162f;
  opacity: 0.1;
  width: 1px;
  height: 28px;
  float: right;
}

.btn-name-fc {
  margin-top: 3px;
}

.btn-name {
  margin-top: 3px;
}

.terms {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  font-size: 14px;
}

/* стилилизация чекбокса */

.checkbox-tc:checked {
  position: absolute;
  left: -9999px;
}

.checkbox-tc:not(:checked) {
  position: absolute;
  left: -9999px;
}

.checkbox-tc:checked + .label-check {
  display: inline-block;
  position: relative;
  padding-left: 28px;
  margin-left: 65px;
  line-height: 20px;
  cursor: pointer;
}
.checkbox-tc:not(:checked) + .label-check {
  display: inline-block;
  position: relative;
  padding-left: 28px;
  margin-left: 65px;
  line-height: 20px;
  cursor: pointer;
}
.checkbox-tc:checked + .label-check::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 20px;
  height: 20px;
  border: 1px solid #f2f2f2;
  background-color: #ffffff;
}

.checkbox-tc:not(:checked) + .label-check::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 20px;
  height: 20px;
  border: 1px solid #f2f2f2;
  background-color: #ffffff;
}

.checkbox-tc:checked + .label-check::after {
  content: "";
  position: absolute;
  transition: all 0.2s;
  left: 3px;
  top: 4px;
  width: 16px;
  height: 9px;
  border-left: 2px solid #3cb878;
  border-bottom: 2px solid #3cb878;
  transform: rotate(-60deg);
  opacity: 1;
}

.checkbox-tc:not(:checked) + .label-check::after {
  content: "";
  position: absolute;
  transition: all 0.2s;
  left: 3px;
  top: 4px;
  width: 16px;
  height: 9px;
  border-left: 2px solid #3cb878;
  border-bottom: 2px solid #3cb878;
  transform: rotate(-60deg);
  opacity: 0;
}

.terms-conditions {
  padding-left: 5px;
  color: #3cb878;
}

.terms-conditions:hover {
  color: #01813f;
  text-decoration: underline;
}
